

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    font-weight: bold;
    text-decoration: none;
    color: black;
        transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}
.box img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.box-text {
    flex-grow: 1;
    margin-left: 10px;
    text-decoration: none; /* Remove underline */
    color: black; /* Ensure the text color is black */
}

.link-box:hover {
    background-color: #d0d0d0; /* Medium-light grey background on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Slightly more noticeable shadow effect on hover */
}
.link-box:hover .link-text, .link-box:hover a {
    color: black; /* Ensure the link text color remains black on hover */
}

.blink {
    animation: blink-animation 1s linear infinite;
    font-size: 11px; /* Set font size to 5px */
}

@keyframes blink-animation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

